.search-results {
  position: relative;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 78vh;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 20;
  margin-bottom: 10px;
  padding: 1px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

.result-cell {
  height: 150px;
  width: 230px;
  vertical-align: top;
  padding: 6px;
}

.small-gap {
  gap: 5px !important;
}
